.site-cart{
    width: 400px;
    height: 122vh;
    padding: 20px;
    background-color: #fff;
}
.weight{
    font-size: 30px;
    font-weight: bold;
    color: black;
    
}
.details{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    padding: 20px;
    background-color: #F2F4FA;
    border-radius: 10px;
    color: #838383;
}

.time{}
.time button{
    text-align: center;
    margin: 5px;
    padding: 20px 18px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background-color: #5D5FEF;
}