.full-display{
  background-color: #F2F4FA;
}
.main-container{
  display: flex;
}
.cart-container{
 padding: 0% 10%;
}

@media only screen and (max-width:688px){
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}